@model Application.ViewModels.Portfolio.EditPortfolioViewModel
@{
    ViewData["Title"] = "ویرایش پورتفولیو";
}

<h2>ویرایش پورتفولیو</h2>

<form asp-action="Edit" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Id" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group mb-2">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group mb-2">
        <label asp-for="ShortDescription"></label>
        <textarea asp-for="ShortDescription" class="form-control"></textarea>
        <span asp-validation-for="ShortDescription" class="text-danger"></span>
    </div>

    <div class="form-group mb-2">
        <label>تصویر فعلی:</label><br />
        @if (!string.IsNullOrWhiteSpace(Model.Picture))
        {
            <img src="@Model.Picture" alt="@Model.Title" style="max-width: 100px; max-height: 70px;" />
        }
        else
        {
            <span>--- ندارد ---</span>
        }
    </div>
    <div class="form-group mb-2">
        <label>تغییر تصویر</label>
        <input name="Picture" type="file" class="form-control" />
    </div>

    <div class="form-group mb-2">
        <label asp-for="Url"></label>
        <input asp-for="Url" class="form-control" />
        <span asp-validation-for="Url" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success mt-2">ذخیره تغییرات</button>
    <a asp-action="Index" class="btn btn-secondary mt-2">بازگشت</a>
</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
