@model Application.ViewModels.MyService.CreateMyServiceViewModel
@{
    ViewData["Title"] = "ایجاد خدمت جدید";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="Title" class="form-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Logo" class="form-label">آدرس تصویر (لوگو)</label>
                <input asp-for="Logo" class="form-control" />
                <span asp-validation-for="Logo" class="text-danger"></span>
                <small class="form-text text-muted">لطفاً آدرس کامل تصویر را وارد کنید.</small>
            </div>

            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>

            <div class="form-group">
                <input type="submit" value="ایجاد" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-secondary">بازگشت به لیست</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
