
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
       رزومه @ViewData["Title"] 
    
    </title>


    <!-- ============ FAVICON ============ -->
    <link rel="shortcut icon" href="favicon.png">
    <!-- ============ ALL PLUGIN CSS ============ -->
    <link rel="stylesheet" href="/SiteAssets/vender/css/plugin.min.css">
    <!-- ============ CUSTOM STYLESHEET ============ -->
    <link rel="stylesheet" href="/SiteAssets/css/style.css">
    <link rel="stylesheet" href="/SiteAssets/css/style-rtl.css">
    <!-- ============ SHARP MODE STYLESHEET ============ -->
    <link id="sharpMode" rel="stylesheet" href="#">
    <link id="darkMode" rel="stylesheet" href="#">
</head>
<body>
    <div class="content-wrap">
        <!-- PRELOADER START -->
        <div class="preloader">
            <img src="/SiteAssets/images/loader.gif" alt="loading">
        </div>
        <!-- PRELOADER END -->
        <!-- ============ SETTIGS SIDEBAR START ============ -->
        <!-- ============ SETTIGS SIDEBAR START ============ -->
        <div class="sidebar-overlay">
            <div class="sidebar">
                <h3><span><i class="fa-regular fa-gear"></i> تنظیمات</span> <button class="sidebar-close"><i class="fa-thin fa-xmark"></i></button></h3>
                <div class="bottom">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="shapeChange">
                        <label class="form-check-label" for="shapeChange">حالت شارپ</label>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="themeChange">
                        <label class="form-check-label" for="themeChange">حالت شب</label>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============ SETTIGS SIDEBAR END ============ -->
        <!-- ============ HEADER SECTION START ============ -->
        <div class="header">
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-6">
                        <div class="logo">
                            <a href="#">
                                <img id="logo" src="/SiteAssets/images/logo.png" alt="LOGO">
                            </a>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="nav-btn">
                            <a href="index-en.html" class="theme-btn">EN</a>
                            <a role="button" id="sidebar"><i class="fa-thin fa-gear"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============ HEADER SECTION END ============ -->
        <!-- ============ BANNER SECTION START ============ -->
        <div class="banner">
            <div class="main-social">
                <a href="#" title="Facebook"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#" title="Twitter"><i class="fa-brands fa-twitter"></i></a>
                <a href="#" title="Linkedin"><i class="fa-brands fa-linkedin-in"></i></a>
                <a href="#" title="Skype"><i class="fa-brands fa-skype"></i></a>
            </div>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6 nav-col">
                        <div class="nav-wrap">
                            <div class="nav-grid">
                                <div class="single-item">
                                    <a role="button" class="section-btn" data-section="about">
                                        <span class="icon"><i class="fa-thin fa-circle-user"></i></span>
                                        <span class="txt">درباره</span>
                                    </a>
                                </div>
                                <div class="single-item">
                                    <a role="button" class="section-btn" data-section="service">
                                        <span class="icon"><i class="fa-thin fa-gear"></i></span>
                                        <span class="txt">خدمات</span>
                                    </a>
                                </div>
                                <div class="single-item">
                                    <a role="button" class="section-btn" data-section="portfolio">
                                        <span class="icon"><i class="fa-thin fa-folder-open"></i></span>
                                        <span class="txt">نمونه کار</span>
                                    </a>
                                </div>
                                <div class="single-item">
                                    <a role="button" class="section-btn" data-section="faq">
                                        <span class="icon"><i class="fa-thin fa-circle-question"></i></span>
                                        <span class="txt">سوالات متداول</span>
                                    </a>
                                </div>
                                <div class="single-item">
                                    <a role="button" class="section-btn" data-section="gallery">
                                        <span class="icon"><i class="fa-thin fa-image"></i></span>
                                        <span class="txt">گالری</span>
                                    </a>
                                </div>
                                <div class="single-item">
                                    <a role="button" class="section-btn" data-section="blog">
                                        <span class="icon"><i class="fa-thin fa-file-pen"></i></span>
                                        <span class="txt">وبلاگ</span>
                                    </a>
                                </div>
                                <div class="single-item">
                                    <a role="button" class="section-btn" data-section="contact">
                                        <span class="icon"><i class="fa-thin fa-user-plus"></i></span>
                                        <span class="txt">تماس</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="banner-txt">
                            <h3>سلام!</h3>
                            <h1><span>من</span> علی سلیمانی <span>هستم.</span></h1>
                            <h2>طراح و توسعه دهنده وردپرس</h2>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
                            <div class="btn-box">
                                <a href="#" class="section-btn def-btn" data-section="about"><i class="fa-light fa-user"></i> درباره من</a>
                                <a href="#" class="def-btn"><i class="fa-light fa-file-lines"></i> دانلود رزومه</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <p>&copy; تمامی حقوق برای <span> تک ستاره وب - راستچین </span> محفوظ است.</p>
            </div>
        </div>
        <!-- ============ BANNER SECTION END ============ -->
        <!-- ============ ABOUT SECTION START ============ -->
        <div class="about section-panel" id="about">
            <button class="panel-close-btn" data-close="about"><i class="fa-light fa-xmark"></i></button>
            <div class="about-content">
                <div class="container">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-lg-5 col-md-6">
                            <div class="part-img">
                                <img src="/SiteAssets/images/about-img.png" alt="image">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="part-txt">
                                <h2 class="section-title">درباره <span>من</span></h2>
                                <p>من یک طراح و توسعه دهنده وردپرس هستم.</p>
                                <p>انگیزه من ساخت بهترین طراحی وب با سالها تجربه است. هدف لورم ایپسوم ایجاد یک بلوک متنی به ظاهر طبیعی است که حواس را از چیدمان منحرف نکند.</p>
                                <div class="progress-wrap">
                                    <div class="progress-box">
                                        <div class="circle-progressbar" data-animate="false">
                                            <div class="circle" data-percent="90" data-thick="15">
                                                <div class="txt">
                                                    <span class="percent"></span>
                                                    <p>گرافیک</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="progress-box">
                                        <div class="circle-progressbar" data-animate="false">
                                            <div class="circle" data-percent="85" data-thick="15">
                                                <div class="txt">
                                                    <span class="percent"></span>
                                                    <p>توسعه</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="progress-box">
                                        <div class="circle-progressbar" data-animate="false">
                                            <div class="circle" data-percent="70" data-thick="15">
                                                <div class="txt">
                                                    <span class="percent"></span>
                                                    <p>مارکتینگ</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="progress-box">
                                        <div class="circle-progressbar" data-animate="false">
                                            <div class="circle" data-percent="60" data-thick="15">
                                                <div class="txt">
                                                    <span class="percent"></span>
                                                    <p>محتوانویسی</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="progress-box">
                                        <div class="circle-progressbar" data-animate="false">
                                            <div class="circle" data-percent="90" data-thick="15">
                                                <div class="txt">
                                                    <span class="percent"></span>
                                                    <p>طراحی UI/UX</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="progress-box">
                                        <div class="circle-progressbar" data-animate="false">
                                            <div class="circle" data-percent="50" data-thick="15">
                                                <div class="txt">
                                                    <span class="percent"></span>
                                                    <p>سئو (SEO)</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fun-fact">
                <div class="container">
                    <div class="row g-0 gy-4">
                        <div class="col-md-3 col-6">
                            <div class="single-box single-box-2">
                                <div class="part-icon">
                                    <span><i class="fa-thin fa-badge-check"></i></span>
                                </div>
                                <h2><span class="odometer" data-count="8">0</span>+</h2>
                                <p>سال تجربه کاری</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-6">
                            <div class="single-box single-box-2">
                                <div class="part-icon">
                                    <span><i class="fa-thin fa-list-check"></i></span>
                                </div>
                                <h2><span class="odometer" data-count="480">0</span>+</h2>
                                <p>پروژه انجام شده</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-6">
                            <div class="single-box single-box-2">
                                <div class="part-icon">
                                    <span><i class="fa-thin fa-users"></i></span>
                                </div>
                                <h2><span class="odometer" data-count="369">0</span>+</h2>
                                <p>مشتری راضی</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-6">
                            <div class="single-box">
                                <div class="part-icon">
                                    <span><i class="fa-thin fa-mug-hot"></i></span>
                                </div>
                                <h2><span class="odometer" data-count="959">0</span>+</h2>
                                <p>فنجان چای</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="education">
                <div class="container">
                    <div class="row rg-60">
                        <div class="col-md-6">
                            <h2 class="section-title">تحصیلات</h2>
                            <ul>
                                <li>
                                    <div class="single-box">
                                        <span class="duration">1400 - 1395</span>
                                        <h3 class="title">کارشناسی ارشد در طراحی</h3>
                                        <p>دانشگاه نیویورک</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="single-box">
                                        <span class="duration">1400 - 1395</span>
                                        <h3 class="title">لیسانس هنر</h3>
                                        <p>دانشگاه لندن</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="single-box">
                                        <span class="duration">1400 - 1395</span>
                                        <h3 class="title">هنرمند کلاژ</h3>
                                        <p>دانشگاه سیدنی</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="single-box">
                                        <span class="duration">1400 - 1395</span>
                                        <h3 class="title">کارشناسی ارشد توسعه</h3>
                                        <p>دانشگاه ولز</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="single-box">
                                        <span class="duration">1400 - 1395</span>
                                        <h3 class="title">دیپلم کامپیوتر</h3>
                                        <p>دانشگاه قاهره</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <h2 class="section-title">تجربیات</h2>
                            <ul>
                                <li>
                                    <div class="single-box">
                                        <span class="duration">1400 - 1395</span>
                                        <h3 class="title">توسعه دهنده وب</h3>
                                        <p>سرویس آی تی کاکلی</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="single-box">
                                        <span class="duration">1400 - 1395</span>
                                        <h3 class="title">توسعه دهنده React</h3>
                                        <p>نرم افزار آکودا</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="single-box">
                                        <span class="duration">1400 - 1395</span>
                                        <h3 class="title">توسعه دهنده وب</h3>
                                        <p>تیم نرم افزاری موهینو</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="single-box">
                                        <span class="duration">1400 - 1395</span>
                                        <h3 class="title">مدیر پروژه</h3>
                                        <p>شرکت طراحی وب دیزاین</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="single-box">
                                        <span class="duration">1400 - 1395</span>
                                        <h3 class="title">سرپرست تیم</h3>
                                        <p>شرکت تبلیغاتی برتر</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============ ABOUT SECTION END ============ -->
        <!-- ============ SERVICE SECTION START ============ -->
        <div class="service section-panel" id="service">
            <button class="panel-close-btn" data-close="service"><i class="fa-light fa-xmark"></i></button>
            <div class="service-content">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-6 col-lg-5">
                            <h2 class="section-title title-center">تخصص های <span>من</span></h2>
                        </div>
                    </div>
                    <div class="row g-md-4 g-sm-3 g-4 justify-content-between">
                        <div class="col-lg-4 col-sm-6">
                            <div class="single-service-box">
                                <div class="part-icon">
                                    <span><i class="fa-thin fa-laptop-code"></i></span>
                                </div>
                                <div class="part-txt">
                                    <h3>طراحی سایت</h3>
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="single-service-box">
                                <div class="part-icon">
                                    <span><i class="fa-thin fa-object-ungroup"></i></span>
                                </div>
                                <div class="part-txt">
                                    <h3>طراحی UI</h3>
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="single-service-box">
                                <div class="part-icon">
                                    <span><i class="fa-thin fa-palette"></i></span>
                                </div>
                                <div class="part-txt">
                                    <h3>طراحی لوگو</h3>
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="single-service-box">
                                <div class="part-icon">
                                    <span><i class="fa-thin fa-camera-retro"></i></span>
                                </div>
                                <div class="part-txt">
                                    <h3>عکاسی</h3>
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="single-service-box">
                                <div class="part-icon">
                                    <span><i class="fa-thin fa-film"></i></span>
                                </div>
                                <div class="part-txt">
                                    <h3>ویرایش ویدیو</h3>
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="single-service-box">
                                <div class="part-icon">
                                    <span><i class="fa-thin fa-bullhorn"></i></span>
                                </div>
                                <div class="part-txt">
                                    <h3>سوشیال مارکتینگ</h3>
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cta">
                <div class="container">
                    <div class="d-sm-flex d-block align-items-center">
                        <div class="part-txt">
                            <h2>پروژه ای در ذهن دارید؟</h2>
                        </div>
                        <div class="part-btn">
                            <a href="#contact" class="def-btn def-btn-2">پیشنهادتان را ارسال کنید</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pricing">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-6 col-lg-5">
                            <h2 class="section-title title-center">لیست <span>قیمت</span></h2>
                        </div>
                    </div>
                    <div class="row g-md-4 g-sm-3 g-4 justify-content-center">
                        <div class="col-lg-4 col-sm-6">
                            <div class="single-price">
                                <div class="top">
                                    <h3>یک پروژه</h3>
                                    <div class="part-icon">
                                        <span><i class="fa-light fa-sun"></i></span>
                                    </div>
                                </div>
                                <div class="middle">
                                    <ul>
                                        <li>طراحی وب سایت <span>2.5 م.ت <small>(هر پروژه)</small></span></li>
                                        <li>طراحی UI <span>2.5 م.ت <small>(هر پروژه)</small></span></li>
                                        <li>طراحی لوگو <span>1.0 م.ت <small>(هر پروژه)</small></span></li>
                                        <li>عکاسی <span>300 ه.ت <small>(هر پروژه)</small></span></li>
                                        <li>ویرایش ویدیو <span>200 ه.ت <small>(هر پروژه)</small></span></li>
                                        <li>سوشیال مارکتینگ <span>1.5 م.ت <small>(هر پروژه)</small></span></li>
                                    </ul>
                                </div>
                                <div class="bottom">
                                    <button class="def-btn" data-bs-toggle="modal" data-bs-target="#pricingModal">درخواست شروع پروژه</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="single-price">
                                <div class="top">
                                    <h3>چند پروژه</h3>
                                    <div class="part-icon">
                                        <span><i class="fa-light fa-medal"></i></span>
                                    </div>
                                </div>
                                <div class="middle">
                                    <ul>
                                        <li>طراحی وب سایت <span>2.4 م.ت <small>(هر پروژه)</small></span></li>
                                        <li>طراحی UI <span>2.4 م.ت <small>(هر پروژه)</small></span></li>
                                        <li>طراحی لوگو <span>900 ه.ت <small>(هر پروژه)</small></span></li>
                                        <li>عکاسی <span>280 ه.ت <small>(هر پروژه)</small></span></li>
                                        <li>ویرایش ویدیو <span>190 ه.ت <small>(هر پروژه)</small></span></li>
                                        <li>سوشیال مارکتینگ <span>1.200 م.ت <small>(هر پروژه)</small></span></li>
                                    </ul>
                                </div>
                                <div class="bottom">
                                    <button class="def-btn" data-bs-toggle="modal" data-bs-target="#pricingModal">درخواست شروع پروژه</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="single-price">
                                <div class="top">
                                    <h3>بر اساس روز</h3>
                                    <div class="part-icon">
                                        <span><i class="fa-light fa-sparkles"></i></span>
                                    </div>
                                </div>
                                <div class="middle">
                                    <ul>
                                        <li>طراحی وب سایت <span>500 ه.ت <small>(هر روز)</small></span></li>
                                        <li>طراحی UI <span>500 ه.ت <small>(هر روز)</small></span></li>
                                        <li>طراحی لوگو <span>100 ه.ت <small>(هر روز)</small></span></li>
                                        <li>عکاسی <span>100 ه.ت <small>(هر روز)</small></span></li>
                                        <li>ویرایش ویدیو <span>70 ه.ت <small>(هر روز)</small></span></li>
                                        <li>سوشیال مارکتینگ <span>250 ه.ت <small>(هر روز)</small></span></li>
                                    </ul>
                                </div>
                                <div class="bottom">
                                    <button class="def-btn" data-bs-toggle="modal" data-bs-target="#pricingModal">درخواست شروع پروژه</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============ SERVICE SECTION END ============ -->
        <!-- ============ PORTFOLIO SECTION START ============ -->
        <div class="portfolio section-panel" id="portfolio">
            <button class="panel-close-btn" data-close="portfolio"><i class="fa-light fa-xmark"></i></button>
            <div class="portfolio-content">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <h2 class="section-title title-center">نگاهی به <span>گذشته من</span> بیندازید</h2>
                        </div>
                    </div>
                    <div class="filter-nav">
                        <button class="filter-btn active" data-filter="all">نمایش همه</button>
                        <button class="filter-btn" data-filter="web">طراحی سایت</button>
                        <button class="filter-btn" data-filter="ui">طراحی UI</button>
                        <button class="filter-btn" data-filter="photo-g">عکاسی</button>
                        <button class="filter-btn" data-filter="marketing">بازاریابی</button>
                    </div>
                    <div class="portfolio-row">
                        <div class="custom-col web">
                            <div class="single-portfolio-box">
                                <div class="part-img">
                                    <img src="/SiteAssets/images/portfolio-img-1.jpg" alt="Image">
                                </div>
                                <div class="part-txt">
                                    <span class="category">طراحی سایت</span>
                                    <h3>طراحی وب سایت فروشگاهی اوماک</h3>
                                    <ul class="info">
                                        <li><span>شروع:</span> 1401/12/05</li>
                                        <li><span>پایان:</span> 1401/12/15</li>
                                    </ul>
                                    <div class="bottom">
                                        <div class="star">
                                            <i class="fa-solid fa-star-sharp rated"></i>
                                            <i class="fa-solid fa-star-sharp rated"></i>
                                            <i class="fa-solid fa-star-sharp rated"></i>
                                            <i class="fa-solid fa-star-sharp rated"></i>
                                            <i class="fa-solid fa-star-sharp"></i>
                                        </div>
                                        <a href="#">مشاهده وب سایت <span><i class="fa-regular fa-arrow-left"></i></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="custom-col ui">
                            <div class="single-portfolio-box">
                                <div class="part-img">
                                    <img src="/SiteAssets/images/portfolio-img-2.jpg" alt="Image">
                                </div>
                                <div class="part-txt">
                                    <span class="category">طراحی UI</span>
                                    <h3>طراحی اپلیکیشن اندروید برای آژانس اوماک</h3>
                                    <ul class="info">
                                        <li><span>شروع:</span> 1401/12/05</li>
                                        <li><span>پایان:</span> 1401/12/15</li>
                                    </ul>
                                    <div class="bottom">
                                        <div class="star">
                                            <i class="fa-solid fa-star-sharp rated"></i>
                                            <i class="fa-solid fa-star-sharp rated"></i>
                                            <i class="fa-solid fa-star-sharp rated"></i>
                                            <i class="fa-solid fa-star-sharp rated"></i>
                                            <i class="fa-solid fa-star-sharp"></i>
                                        </div>
                                        <a href="#">مشاهده وب سایت <span><i class="fa-regular fa-arrow-left"></i></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="custom-col ui">
                            <div class="single-portfolio-box">
                                <div class="part-img">
                                    <img src="/SiteAssets/images/portfolio-img-3.jpg" alt="Image">
                                </div>
                                <div class="part-txt">
                                    <span class="category">طراحی لوگو</span>
                                    <h3>طراحی لوگوی زیبایی برای لوازم آرایشی اوماک</h3>
                                    <ul class="info">
                                        <li><span>شروع:</span> 1401/12/05</li>
                                        <li><span>پایان:</span> 1401/12/15</li>
                                    </ul>
                                    <div class="bottom">
                                        <div class="star">
                                            <i class="fa-solid fa-star-sharp rated"></i>
                                            <i class="fa-solid fa-star-sharp rated"></i>
                                            <i class="fa-solid fa-star-sharp rated"></i>
                                            <i class="fa-solid fa-star-sharp rated"></i>
                                            <i class="fa-solid fa-star-sharp"></i>
                                        </div>
                                        <a href="#">مشاهده وب سایت <span><i class="fa-regular fa-arrow-left"></i></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="custom-col ui">
                            <div class="single-portfolio-box">
                                <div class="part-img">
                                    <img src="/SiteAssets/images/portfolio-img-4.jpg" alt="Image">
                                </div>
                                <div class="part-txt">
                                    <span class="category">طراحی UI</span>
                                    <h3>طراحی اپلیکیشن اندروید برای پلیر موسیقی پادر</h3>
                                    <ul class="info">
                                        <li><span>شروع:</span> 1401/12/05</li>
                                        <li><span>پایان:</span> 1401/12/15</li>
                                    </ul>
                                    <div class="bottom">
                                        <div class="star">
                                            <i class="fa-solid fa-star-sharp rated"></i>
                                            <i class="fa-solid fa-star-sharp rated"></i>
                                            <i class="fa-solid fa-star-sharp rated"></i>
                                            <i class="fa-solid fa-star-sharp rated"></i>
                                            <i class="fa-solid fa-star-sharp"></i>
                                        </div>
                                        <a href="#">مشاهده وب سایت <span><i class="fa-regular fa-arrow-left"></i></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="custom-col photo-g">
                            <div class="single-portfolio-box">
                                <div class="part-img">
                                    <img src="/SiteAssets/images/portfolio-img-5.jpg" alt="Image">
                                </div>
                                <div class="part-txt">
                                    <span class="category">عکاسی</span>
                                    <h3>عکاسی از نمایشگاه نقاشی 1401</h3>
                                    <ul class="info">
                                        <li><span>شروع:</span> 1401/12/05</li>
                                        <li><span>پایان:</span> 1401/12/15</li>
                                    </ul>
                                    <div class="bottom">
                                        <div class="star">
                                            <i class="fa-solid fa-star-sharp rated"></i>
                                            <i class="fa-solid fa-star-sharp rated"></i>
                                            <i class="fa-solid fa-star-sharp rated"></i>
                                            <i class="fa-solid fa-star-sharp rated"></i>
                                            <i class="fa-solid fa-star-sharp"></i>
                                        </div>
                                        <a href="#">مشاهده وب سایت <span><i class="fa-regular fa-arrow-left"></i></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="custom-col web">
                            <div class="single-portfolio-box">
                                <div class="part-img">
                                    <img src="/SiteAssets/images/portfolio-img-6.jpg" alt="Image">
                                </div>
                                <div class="part-txt">
                                    <span class="category">طراحی سایت</span>
                                    <h3>طراحی وب سایت شخصی و رزومه</h3>
                                    <ul class="info">
                                        <li><span>شروع:</span> 1401/12/05</li>
                                        <li><span>پایان:</span> 1401/12/15</li>
                                    </ul>
                                    <div class="bottom">
                                        <div class="star">
                                            <i class="fa-solid fa-star-sharp rated"></i>
                                            <i class="fa-solid fa-star-sharp rated"></i>
                                            <i class="fa-solid fa-star-sharp rated"></i>
                                            <i class="fa-solid fa-star-sharp rated"></i>
                                            <i class="fa-solid fa-star-sharp"></i>
                                        </div>
                                        <a href="#">مشاهده وب سایت <span><i class="fa-regular fa-arrow-left"></i></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3 class="empty-msg">چیزی برای نمایش در این دسته وجود ندارد &#128549;</h3>
                    </div>
                </div>
            </div>
            <div class="our-client">
                <div class="container">
                    <div class="client-slider" dir="rtl">
                        <div class="single-client">
                            <img src="/SiteAssets/images/client-1.png" alt="Logo">
                        </div>
                        <div class="single-client">
                            <img src="/SiteAssets/images/client-2.png" alt="Logo">
                        </div>
                        <div class="single-client">
                            <img src="/SiteAssets/images/client-3.png" alt="Logo">
                        </div>
                        <div class="single-client">
                            <img src="/SiteAssets/images/client-4.png" alt="Logo">
                        </div>
                        <div class="single-client">
                            <img src="/SiteAssets/images/client-5.png" alt="Logo">
                        </div>
                        <div class="single-client">
                            <img src="/SiteAssets/images/client-6.png" alt="Logo">
                        </div>
                        <div class="single-client">
                            <img src="/SiteAssets/images/client-7.png" alt="Logo">
                        </div>
                    </div>
                </div>
            </div>
            <div class="testimonial">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-6 col-lg-5">
                            <h2 class="section-title title-center">مشتریان درباره <span>من</span> چه می گویند؟</h2>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-xl-8 col-md-10">
                            <div class="testimonial-slider">
                                <div class="single-feedback">
                                    <div class="part-img">
                                        <img src="/SiteAssets/images/testimonial-img-1.jpg" alt="Image">
                                    </div>
                                    <div class="part-txt">
                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                                        <h3>امین دادجو</h3>
                                        <span>مدیر وب سایت لوازم آرایشی</span>
                                    </div>
                                </div>
                                <div class="single-feedback">
                                    <div class="part-img">
                                        <img src="/SiteAssets/images/testimonial-img-2.jpg" alt="Image">
                                    </div>
                                    <div class="part-txt">
                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                                        <h3>لاله ایراندوست</h3>
                                        <span>مدیر وب سایت پادکست</span>
                                    </div>
                                </div>
                                <div class="single-feedback">
                                    <div class="part-img">
                                        <img src="/SiteAssets/images/testimonial-img-3.jpg" alt="Image">
                                    </div>
                                    <div class="part-txt">
                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                                        <h3>رضا محمدی</h3>
                                        <span>مدیر فروشگاه اینترنتی</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============ PORTFOLIO SECTION END ============ -->
        <!-- ============ FAQ SECTION START ============ -->
        <div class="faq section-panel" id="faq">
            <button class="panel-close-btn" data-close="faq"><i class="fa-light fa-xmark"></i></button>
            <div class="faq-content">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <h2 class="section-title title-center"><span>سوالات</span> متداول</h2>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-xl-8 col-lg-10">
                            <div class="faq-box">
                                <div class="single-card">
                                    <div class="faq-header">
                                        <h3>ساخت یک وب سایت چقدر طول می کشد؟</h3>
                                        <div class="icon">
                                            <i class="fa-light fa-minus"></i>
                                        </div>
                                    </div>
                                    <div class="faq-body">
                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                                    </div>
                                </div>
                                <div class="single-card">
                                    <div class="faq-header">
                                        <h3>آیا وب سایت های موجود را دوباره طراحی می کنید؟</h3>
                                        <div class="icon">
                                            <i class="fa-light fa-plus"></i>
                                        </div>
                                    </div>
                                    <div class="faq-body">
                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                                    </div>
                                </div>
                                <div class="single-card">
                                    <div class="faq-header">
                                        <h3>آیا در سطح بین المللی کار می کنید؟</h3>
                                        <div class="icon">
                                            <i class="fa-light fa-plus"></i>
                                        </div>
                                    </div>
                                    <div class="faq-body">
                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                                    </div>
                                </div>
                                <div class="single-card">
                                    <div class="faq-header">
                                        <h3>آیا وب سایت من روی تلفن های هوشمند و تبلت ها نیز کار می کند؟</h3>
                                        <div class="icon">
                                            <i class="fa-light fa-plus"></i>
                                        </div>
                                    </div>
                                    <div class="faq-body">
                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                                    </div>
                                </div>
                                <div class="single-card">
                                    <div class="faq-header">
                                        <h3>آیا می توانید به من کمک کنید تا رتبه بالایی در گوگل کسب کنم؟</h3>
                                        <div class="icon">
                                            <i class="fa-light fa-plus"></i>
                                        </div>
                                    </div>
                                    <div class="faq-body">
                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                                    </div>
                                </div>
                                <div class="single-card">
                                    <div class="faq-header">
                                        <h3>هزینه یک وب سایت چقدر است؟</h3>
                                        <div class="icon">
                                            <i class="fa-light fa-plus"></i>
                                        </div>
                                    </div>
                                    <div class="faq-body">
                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============ FAQ SECTION END ============ -->
        <!-- ============ GALLERY SECTION START ============ -->
        <div class="gallery section-panel" id="gallery">
            <button class="panel-close-btn" data-close="gallery"><i class="fa-light fa-xmark"></i></button>
            <div class="gallery-content">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <h2 class="section-title title-center">گالری <span>تصاویر</span> من</h2>
                        </div>
                    </div>
                    <div class="row g-4">
                        <div class="col-lg-8">
                            <div class="single-img">
                                <img src="/SiteAssets/images/gallery-1.jpg" alt="image">
                                <div class="hover">
                                    <button><i class="fa-light fa-plus"></i></button>
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="single-img">
                                <img src="/SiteAssets/images/gallery-2.jpg" alt="image">
                                <div class="hover">
                                    <button><i class="fa-light fa-plus"></i></button>
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="single-img">
                                <img src="/SiteAssets/images/gallery-3.jpg" alt="image">
                                <div class="hover">
                                    <button><i class="fa-light fa-plus"></i></button>
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="single-img">
                                <img src="/SiteAssets/images/gallery-4.jpg" alt="image">
                                <div class="hover">
                                    <button><i class="fa-light fa-plus"></i></button>
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="single-img">
                                <img src="/SiteAssets/images/gallery-5.jpg" alt="image">
                                <div class="hover">
                                    <button><i class="fa-light fa-plus"></i></button>
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="single-img">
                                <img src="/SiteAssets/images/gallery-6.jpg" alt="image">
                                <div class="hover">
                                    <button><i class="fa-light fa-plus"></i></button>
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="single-img">
                                <img src="/SiteAssets/images/gallery-7.jpg" alt="image">
                                <div class="hover">
                                    <button><i class="fa-light fa-plus"></i></button>
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============ GALLERY SECTION END ============ -->
        <!-- ============ BLOG SECTION START ============ -->
        <div class="blog section-panel" id="blog">
            <button class="panel-close-btn" data-close="blog"><i class="fa-light fa-xmark"></i></button>
            <div class="blog-content">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <h2 class="section-title title-center">کالکشن <span>مقالات</span> جدید</h2>
                        </div>
                    </div>
                    <div class="row g-4 justify-content-center">
                        <div class="col-lg-4 col-md-6 col-sm-8">
                            <div class="single-blog">
                                <div class="part-img">
                                    <img src="/SiteAssets/images/blog-img-1.jpg" alt="Image">
                                </div>
                                <div class="part-txt">
                                    <h3><a href="#" data-bs-toggle="modal" data-bs-target="#blogModal">10 فریمورک برتر جاوا اسکریپت برای یادگیری در سال 2022</a></h3>
                                    <ul>
                                        <li><span><i class="fa-duotone fa-user-pen"></i></span>علی سلیمانی</li>
                                        <li><span><i class="fa-duotone fa-calendar"></i></span>28 مهر 1401</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-8">
                            <div class="single-blog">
                                <div class="part-img">
                                    <img src="/SiteAssets/images/blog-img-2.jpg" alt="Image">
                                </div>
                                <div class="part-txt">
                                    <h3><a href="#" data-bs-toggle="modal" data-bs-target="#blogModal">چگونه ReactJS را در یک برنامه قدیمی Dojo ادغام کنیم</a></h3>
                                    <ul>
                                        <li><span><i class="fa-duotone fa-user-pen"></i></span>علی سلیمانی</li>
                                        <li><span><i class="fa-duotone fa-calendar"></i></span>28 مهر 1401</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-8">
                            <div class="single-blog">
                                <div class="part-img">
                                    <img src="/SiteAssets/images/blog-img-3.jpg" alt="Image">
                                </div>
                                <div class="part-txt">
                                    <h3><a href="#" data-bs-toggle="modal" data-bs-target="#blogModal">با علامت گذاری شده از Markdown به HTML5 بروید</a></h3>
                                    <ul>
                                        <li><span><i class="fa-duotone fa-user-pen"></i></span>علی سلیمانی</li>
                                        <li><span><i class="fa-duotone fa-calendar"></i></span>28 مهر 1401</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="subscribe-wrap">
                                <div class="subscribe">
                                    <h3>عضو خبرنامه ما شوید</h3>
                                    <form>
                                        <input type="email" placeholder="آدرس ایمیل خود را وارد کنید ...">
                                        <button class="def-btn">عضویت</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-8">
                            <div class="single-blog">
                                <div class="part-img">
                                    <img src="/SiteAssets/images/blog-img-4.jpg" alt="Image">
                                </div>
                                <div class="part-txt">
                                    <h3><a href="#" data-bs-toggle="modal" data-bs-target="#blogModal">بوت استرپ: ایجاد منوها، نوارهای ناوبری و مدال ها</a></h3>
                                    <ul>
                                        <li><span><i class="fa-duotone fa-user-pen"></i></span>علی سلیمانی</li>
                                        <li><span><i class="fa-duotone fa-calendar"></i></span>28 مهر 1401</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-8">
                            <div class="single-blog">
                                <div class="part-img">
                                    <img src="/SiteAssets/images/blog-img-5.jpg" alt="Image">
                                </div>
                                <div class="part-txt">
                                    <h3><a href="#" data-bs-toggle="modal" data-bs-target="#blogModal"> بررسی GDPR و وردپرس: چرا باید نگران باشید و راهکار چیست</a></h3>
                                    <ul>
                                        <li><span><i class="fa-duotone fa-user-pen"></i></span>علی سلیمانی</li>
                                        <li><span><i class="fa-duotone fa-calendar"></i></span>28 مهر 1401</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-8">
                            <div class="single-blog">
                                <div class="part-img">
                                    <img src="/SiteAssets/images/blog-img-6.jpg" alt="Image">
                                </div>
                                <div class="part-txt">
                                    <h3><a href="#" data-bs-toggle="modal" data-bs-target="#blogModal">راه حل های CRM مبتنی بر وب - همه آنچه که باید بدانید</a></h3>
                                    <ul>
                                        <li><span><i class="fa-duotone fa-user-pen"></i></span>علی سلیمانی</li>
                                        <li><span><i class="fa-duotone fa-calendar"></i></span>28 مهر 1401</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============ BLOG SECTION END ============ -->
        <!-- ============ CONTACT SECTION START ============ -->
        <div class="contact section-panel" id="contact">
            <button class="panel-close-btn" data-close="contact"><i class="fa-light fa-xmark"></i></button>
            <div class="contact-content">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-6 col-lg-5">
                            <h2 class="section-title title-center">با <span>من</span> در تماس باشید.</h2>
                        </div>
                    </div>
                    <div class="row g-0 justify-content-center">
                        <div class="col-lg-6 col-md-7 col-sm-6 order-e">
                            <form class="contact-form">
                                <div class="form-group">
                                    <label>نام کامل شما</label>
                                    <input type="text" name="name" required>
                                </div>
                                <div class="form-group">
                                    <label>آدرس ایمیل شما</label>
                                    <input type="email" name="email" required>
                                </div>
                                <div class="form-group">
                                    <label>موضوع</label>
                                    <input type="text" name="subject" required>
                                </div>
                                <div class="form-group">
                                    <label>پیام تان را بنویسید</label>
                                    <textarea name="message" required></textarea>
                                </div>
                                <button class="def-btn">ارسال پیام</button>
                            </form>
                        </div>
                        <div class="col-lg-4 col-md-5 col-sm-6">
                            <div class="contact-info">
                                <div class="single-box">
                                    <div class="part-icon">
                                        <i class="fa-duotone fa-phone"></i>
                                    </div>
                                    <div class="part-txt">
                                        <a href="#">+12 345 678 900</a>
                                        <a href="#">+12 345 678 900</a>
                                    </div>
                                </div>
                                <div class="single-box">
                                    <div class="part-icon">
                                        <i class="fa-duotone fa-envelope"></i>
                                    </div>
                                    <div class="part-txt">
                                        <a href="#">example@gmail.com</a>
                                        <a href="#">example@gmail.com</a>
                                    </div>
                                </div>
                                <div class="single-box">
                                    <div class="part-icon">
                                        <i class="fa-duotone fa-map-location-dot"></i>
                                    </div>
                                    <div class="part-txt">
                                        <p>ایران، استان خراسان رضوی، مشهد</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============ CONTACT SECTION END ============ -->
    </div>


    <!-- ============ PRICING MODAL ============ -->
    <div class="modal fade" id="pricingModal" tabindex="-1" aria-labelledby="pricingModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="pricingModalLabel">پروژه ای را شروع کنید</h5>
                    <button type="button" data-bs-dismiss="modal"><i class="fa-light fa-xmark"></i></button>
                </div>
                <div class="modal-body">
                    <form class="pricing-form">
                        <div class="row g-4">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>نام شما</label>
                                    <input type="text" name="name" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>ایمیل شما</label>
                                    <input type="email" name="email" required>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label>موضوع را انتخاب کنید.</label>
                                    <select name="subject" class="my-select" required>
                                        <option value="" disabled selected hidden label="subject"></option>
                                        <option value="1">طراحی وب سایت</option>
                                        <option value="2">طراحی UI</option>
                                        <option value="3">طراحی لوگو</option>
                                        <option value="4">عکاسی</option>
                                        <option value="5">ویرایش ویدیو</option>
                                        <option value="6">سوشیال مارکتینگ</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label>پیام شما ...</label>
                                    <textarea name="message"></textarea>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="btn-box justify-content-end">
                                    <button type="button" class="def-btn def-btn-2 border" data-bs-dismiss="modal">بستن</button>
                                    <button type="button" class="def-btn">ارسال پیام</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- ============ PRICING MODAL ============ -->
    <!-- ============ LIGHTBOX MODAL MODAL ============ -->
    <div class="image-lightbox-panel">
        <img class="lightbox-image" src="" alt="Image">
    </div>
    <!-- ============ LIGHTBOX MODAL MODAL ============ -->
    <!-- ============ BLOG MODAL ============ -->
    <div class="modal fade" id="blogModal" tabindex="-1" aria-labelledby="blogModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="blogModalLabel">مجموعه مقالات من</h5>
                    <button type="button" data-bs-dismiss="modal"><i class="fa-light fa-xmark"></i></button>
                </div>
                <div class="modal-body">
                    <div class="blog-details">
                        <div class="part-img">
                            <img src="/SiteAssets/images/blog-details.jpg" alt="Image">
                        </div>
                        <div class="part-txt">
                            <h2 class="blog-title">چگونه ReactJS را در یک برنامه قدیمی Dojo ادغام کنیم</h2>
                            <ul>
                                <li><span><i class="fa-duotone fa-user-pen"></i></span>علی سلیمانی</li>
                                <li><span><i class="fa-duotone fa-calendar"></i></span>28 مهر 1401</li>
                            </ul>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. </p>
                            <p>کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد.</p>
                            <p class="marked">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد.</p>
                            <p>تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============ BLOG MODAL ============ -->
    <!-- ============ JQUERY ============ -->
    <script src="/SiteAssets/vender/js/jquery-3.6.0.min.js"></script>
    <!-- ============ ALL PLUGIN JS ============ -->
    <script src="/SiteAssets/vender/js/plugin.js"></script>
    <!-- ============ CUSTOM JS ============ -->
    <script src="/SiteAssets/js/main.js"></script>
</body>
@RenderBody()
</html>